.Pokemon {
  margin: 40px auto 0;
  max-width: 1280px;
  padding: 20px;
  position: relative;
}

.Pokemon__back {
  position: absolute;
  cursor: pointer;
  top: -30px;
  z-index: 1;
}

button.Pokemon__back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  padding: 8px 10px;
  color: rgb(250, 235, 235);
  font-weight: 700;
  text-align: center;

  border-radius: 8px;
  outline: none;
  border: none;
  background-color: rgb(216, 8, 8);
}

button.Pokemon__back:hover{
  background-color: rgb(189, 19, 19);
}

/*** Header ***/
.Pokemon__header-bg {
  height: 200px;
  position: relative;
}

.Pokemon__header-img {
  width: 250px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
}

/*** Body ***/
.Pokemon__body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: var(--game-font);
  background-color: #FFF;
}
.Pokemon__body-id{
  font-size: 42px;
  color: #416460;
  border: 1px solid #D3D3D3;
  padding: 10px;
  text-align: center;
}

.Pokemon__body-name {
  font-size: 45px;
  color: #416460;
  text-transform: capitalize;
}

/*** Info ***/
.Pokemon__body-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: min(70%, 500px);
  text-align: center;
  padding: 15px;
  flex-wrap: wrap;
gap: 25px;
}

.Pokemon__body-info  div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Pokemon__body-info h5 {
  font-size: 28px;
}

.Pokemon__body-info h4 {
  font-size: 26px;
}

/*** Extra ***/

.Pokemon__body-extra {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 35px;
  font-size: 30px;
  width: min(95%, 850px);
}

.Pokemon__types {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.Pokemon__types-value {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Pokemon__types-border {
  padding: 4px 25px;
  font-size: 28px;
  color: rgb(251, 251, 251);
}

.Pokemon__abilities {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.Pokemon__abilities-value {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Pokemon__abilities-border {
  border: 1px solid #D3D3D3;
  border-radius: 2px;
  padding: 4px 15px;
  font-size: 28px;
}


/*** Stats ***/
.Pokemon__stats {
  padding: 15px 0 0;
  width: min(100%, 1100px);
}

.pokemon__stats-title{
  font-size: 45px;
  text-align: center;
}

.pokemon__stats-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pokemon__stat {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.pokemon__stat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pokemon__stat-name{
  font-size: 24px;
}

.pokemon__stat-value {
  font-size: 20px;
}

.pokemon__stat-barGray {
  background-color: #F7F7F7;
  height: 25px;
}

.pokemon__stat-barProgress {
  height: 25px;
  background: linear-gradient(90deg, #FCD676 -2.25%, #E6901E 133.18%);
  width: 50%;
  border-radius: 5px;
}

/* background linear gradient */

.bg-lg-normal {
  background: linear-gradient(180deg, #735259, #FFF);
}
.bg-lg-fighting {
  background: linear-gradient(180deg, #96402A, #FFF);
}
.bg-lg-flying {
  background: linear-gradient(180deg, #beb14c, #FFF);
}
.bg-lg-poison {
  background: linear-gradient(180deg, #5B3184, #FFF);
}
.bg-lg-ground {
  background: linear-gradient(180deg, #654008, #FFF);
}
.bg-lg-rock {
  background: linear-gradient(180deg, #7E7E7E, #FFF);
}
.bg-lg-bug {
  background: linear-gradient(180deg, #037216, #FFF);
}
.bg-lg-ghost {
  background: linear-gradient(180deg, #323569, #FFF);
}
.bg-lg-steel {
  background: linear-gradient(180deg, #5E736C, #FFF);
}
.bg-lg-fire {
  background: linear-gradient(180deg, #F96D6F, #FFF);
}
.bg-lg-water {
  background: linear-gradient(180deg, #133258, #FFF);
}
.bg-lg-grass {
  background: linear-gradient(180deg, #7EC6C5, #FFF);
}
.bg-lg-electric {
  background: linear-gradient(180deg, #0C1395, #FFF);
}
.bg-lg-psychic {
  background: linear-gradient(180deg, #E52D2D, #FFF);
}
.bg-lg-ice {
  background: linear-gradient(180deg, #6FBEDF, #FFF);
}
.bg-lg-dragon {
  background: linear-gradient(180deg, #478A93, #FFF);
}
.bg-lg-dark {
  background: linear-gradient(180deg, #030706, #FFF);
}
.bg-lg-fairy {
  background: linear-gradient(180deg, #971B45, #FFF);
}
.bg-lg-unknown {
  background: linear-gradient(180deg, #696767, #FFF);
}
.bg-lg-shadow {
  background: linear-gradient(180deg, #6c31a3, #FFF);
}

/* types */
.type-normal {
  background-color: #735259;
}
.type-fighting {
  background-color: #96402A;
}
.type-flying {
  background-color: #beb14c;
}
.type-poison {
  background-color: #5B3184;
}
.type-ground {
  background-color: #654008;
}
.type-rock {
  background-color: #7E7E7E;
}
.type-bug {
  background-color: #037216;
}
.type-ghost {
  background-color: #323569;
}
.type-steel {
  background-color: #5E736C;
}
.type-fire {
  background-color: #F96D6F;
}
.type-water {
  background-color: #133258;
}
.type-grass {
  background-color: #7EC6C5;
}
.type-electric {
  background-color: #0C1395;
}
.type-psychic {
  background-color: #E52D2D;
}
.type-ice {
  background-color: #6FBEDF;
}
.type-dragon {
  background-color: #478A93;
}
.type-dark {
  background-color: #030706;
}
.type-fairy {
  background-color: #971B45;
}
.type-unknown {
  background-color: #696767;
}
.type-shadow {
  background-color: #6c31a3;
}

.type-border-normal {
  border: 3px solid rgb(calc(115 + 90), calc(82 + 88), calc(89 + 91));
}

.type-border-fighting {
  border: 3px solid rgb(calc(150 + 90), calc(64 + 88), calc(42 + 91));
}

.type-border-flying {
  border: 3px solid rgb(calc(190 + 90), calc(177 + 88), calc(76 + 91));
}

.type-border-poison {
  border: 3px solid rgb(calc(91 + 90), calc(49 + 88), calc(132 + 91));
}

.type-border-ground {
  border: 3px solid rgb(calc(101 + 90), calc(64 + 88), calc(8 + 91));
}

.type-border-rock {
  border: 3px solid rgb(calc(126 + 90), calc(126 + 88), calc(126 + 91));
}

.type-border-bug {
  border: 3px solid rgb(calc(3 + 90), calc(114 + 88), calc(22 + 91));
}

.type-border-ghost {
  border: 3px solid rgb(calc(50 + 90), calc(53 + 88), calc(105 + 91));
}

.type-border-steel {
  border: 3px solid rgb(calc(94 + 90), calc(115 + 88), calc(108 + 91));
}

.type-border-fire {
  border: 3px solid rgb(calc(249 + 90), calc(109 + 88), calc(111 + 91));
}

.type-border-water {
  border: 3px solid rgb(calc(19 + 90), calc(50 + 88), calc(88 + 91));
}

.type-border-grass {
  border: 3px solid rgb(calc(126  +  90), calc(198  +  88), calc(197  +  91));
}

.type-border-electric {
  border: 3px solid rgb(calc(12 + 90), calc(19 + 88), calc(149 + 91));
}

.type-border-psychic {
  border: 3px solid rgb(calc(229 + 90), calc(45 + 88), calc(45  +  91));
}

.type-border-ice {
  border: 3px solid rgb(calc(111 + 90), calc(190 + 88), calc(223  +  91));
}

.type-border-dragon {
  border: 3px solid rgb(calc(71 + 90), calc(138 + 88), calc(147  +  91));
}

.type-border-dark {
  border: 3px solid rgb(calc(3 + 90), calc(7 + 88), calc(6  +  91));
}

.type-border-fairy {
  border: 3px solid rgb(calc(151 + 90), calc(27 + 88), calc(69  +  91));
}

.type-border-unknown {
  border: 3px solid rgb(calc(105 + 90), calc(103 + 88), calc(103  +  91));
}

.type-border-shadow {
  border: 3px solid rgb(calc(108 + 90), calc(49 + 88), calc(163  +  91));
}