@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Silkscreen:wght@400;700&family=VT323&display=swap');

:root {
  --principal-font: 'Roboto', sans-serif;
  --game-font: 'VT323', monospace;
}

body{
  margin: 0;
  background-color: #e5e5e5;
}

html{
  box-sizing: border-box;
  font-family: var(--principal-font);
  scroll-behavior: smooth;
cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;
}

*, *::after, *::before{
  box-sizing: inherit;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}